body {
	background-color: #281DD1;
	margin:0;
}
.element {
	width: 25px;
	height: 25px;
	background-color: #7CF6D1;
	margin: 10px;
	position: absolute;
	border-radius: 30px;
}
.random {
	background-color:#F636D1;
}